<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script type="text/javascript">
   // $( document ).ready(function() {
    $("body").on('click','.follow', function(){  
      var button_val = $(this).val();
      //alert(button_val)
      $.ajax
      ({
        type: "POST",
        url: '/friendships',
        dataType:'script',
        data: {followed_id: button_val},
        success: function (response) {
          //alert("follow")
        }
      }); 
    });
    $("body").on('click','.unfollow', function(){
      var button_val = $(this).val();
      //alert(button_val)
      $.ajax
      ({
        type: "DELETE",
        url: '/friendships/destroy',
        dataType:'script',
        data: {followed_id: button_val},
        success: function (response) {
          //alert("unfollow")
        }
      }); 
    });
  // });
</script>
<table class="table table-striped">
  <tbody>
    <tr>
     <td><h6><b>UserName</b></h6></td> 
     <td>Action</td>
   </tr>
   <% @users.each do |user| %>
   <tr id = '<%= user.id %>' > 
    <td><%= link_to user.name, otheruserprofile_user_path(user)%>
     <%= hidden_field_tag :followed_id, user.id %>
   </td>
   <td class = '<%= "#{user.id}" %>_follow_box' >
    <%= render 'friendships/follow_button', user: user %>
  </td>              
</tr>
<% end %>
</tbody>
</table>
