<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script type="text/javascript">
  $("body").on('click','.like', function(){ 
    var button_val = $(this).val();
    $.ajax
    ({
      type: "POST",
      url: '/likes',
      dataType:'script',
      data: {post_id: button_val},
      success: function (response) {
      }
    }); 
  });
  $("body").on('click','.unlike', function(){ 
    var button_val = $(this).val();
    var like_id = $(this).data('id');
    $.ajax
    ({
      type: "DELETE",
      url: '/likes/destroy',
      dataType:'script',
      data: {post_id: button_val, like_id: like_id},
      success: function (response){
      }
    }); 
  });
  $("body").on('click','.follow', function(){  
    var button_val = $(this).val();
    $.ajax
    ({
      type: "POST",
      url: '/friendships',
      dataType:'script',
      data: {followed_id: button_val},
      success: function (response) {
      }
    }); 
  });
  $("body").on('click','.unfollow', function(){
    var button_val = $(this).val();
    $.ajax
    ({
      type: "DELETE",
      url: '/friendships/destroy',
      dataType:'script',
      data: {followed_id: button_val},
      success: function (response) {
      }
    }); 
  });
</script>
<%= hidden_field_tag :followed_id, @ub.id %>
<div class = '<%= "#{@ub.id}" %>_follow_box' >
  <%= render 'friendships/follow_button', user: @ub %>
</div>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<% @post.each do |f| %> <br>
<div class="container">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-body">
       <section class="post-heading">
        <div class="row">
          <div class="col-md-11">
            <span class="badge-pill badge-info"><%= f.category.name %></span>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <div class= "media-object photo-profile">
                    <%= image_tag f.image.url(:medium), width:"40", height:"40" %>
                  </div>
                </a>
              </div>
              <div class="media-body">
                <div class="anchor-username"><h4 class="media-heading"><%= link_to f.title, pshow_path(year: f.year, month: f.month, id: f.id, title: f.title.parameterize) %></h4></div> 
                <div class="anchor-time">By <%= link_to f.user.name, otheruserprofile_user_path %> at <%= f.created_at.strftime("%B %d %Y, %H:%M %P")%></div>
                <%= f.category.name %>
              </div>
            </div>
          </div>
        </div>             
      </section>
      <section class="post-body">
        <%= raw f.blog %>
      </section>
      <section class="post-footer">
        <div class="post-footer-option container">
          <div class="glyphicon">
            <div class = '<%= "#{f.id}" %>_like_box' >
              <%= render 'likes/like_button', f: f %>
            </div>
          </div>
        </div>

        <h4>Comments</h4>
        <% f.comments.each do |comment|%>
        <strong><%= comment.user.name %>:- </strong><%= comment.content %><br>
        <% if ((current_user == f.user) || (current_user == comment.user)) %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        user_post_comment_path(@post,comment), 
        :method => 'delete', 
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } 
        %>
        <% end %><br>
        <% end %>
      </section>
    </div>
  </div>   
</div>
</div>
<% end %> 
