<%= link_to t('.Friend Request', :default => t("helpers.links.Friend Request")), frequest_user_path, :class => 'btn btn-primary' %>
<br>
<br>
<%= form_with scope: :user, url: save_follow_role_users_path, method: :put, local: true do |f| %>
<%# User::ROLESS.each do | role | %>
<%#= f.radio_button :follow_role, role %>
<!-- <label> <%#= role %></label><br> -->
<%# end %>
<%= f.radio_button :follow_role, "Follow-Directly", checked: current_user.follow_role == 'Follow-Directly' %>
<label>Follow-Directly </label><br> 

<%= f.radio_button :follow_role, "Follow-on-Approval", checked: current_user.follow_role == 'Follow-on-Approval' %>
<label>Follow-on-Approval </label><br> 
<%= f.submit "Ok", class: "btn btn-primary" %>
<% end %>

<br><%#= current_user.followers.count %>
<%= link_to 'Followers', follower_user_path(current_user.id) %></li>
<%#= current_user.following.count %>
<%= link_to 'Following', following_user_path(current_user.id) %></li><br>

<% current_user.posts.each do |f| %> <br>
<dl class="dl-horizontal">
	<dt><strong><%= :Category %>:</strong></dt>
	<dd><%=f.category.name %></dd>
	<dt><strong ><%= :Title %>:</strong></dt>
	<dd><%= f.title %></dd>
	<dt><strong><%= :Blog %>:</strong></dt>
	<dd><%= raw f.blog %></dd>
	<dd><%= image_tag f.image.url(:medium) %></dd>
</dl>
<% end %>
