<% if @post.user_id == current_user.id %> 
      <%= form_with model: @post, url: user_post_path(@post), local: true do |f| %>
      <div class="form-group">
        <%= f.label :title, :class => 'control-label col-lg-2' %>
        <%= f.text_field :title, :class => 'form-control' %>
        <%= f.label :blog, :class => 'control-label col-lg-2' %>
        <%= f.cktext_area  :blog, :class => 'form-control' %>  
     </div>
     <div class="form-group">
       <div class="col-lg-offset-2 col-lg-10">
         <%= f.submit "draft", :value => "draft", :class => 'btn btn-primary' %>
         <%= f.submit "Publish ", :value => "publish", :class => 'btn btn-primary' %>
         <%= f.submit "Update Post", :class => 'btn btn-primary' %>
         <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
         posts_path, :class => 'btn btn-default' %>
       </div>
     </div>
  <% end %> 
 <% else %> 
 <% flash[:notice] = 'you are not owner of this Job' %>
 <% end %>