<%= form_with scope: :post, url: user_posts_path, local: true, html: {multipart: true} do |f| %>  
<% @post.errors.full_message.join(',') if @post.errors.present? %>
 <div class="form-group">
  <%= f.label :accessibility, :class => 'control-label col-lg-2' %>
  <%= f.select :accessibility, ['public', 'private', 'follower'] %><br>

  <%= f.label :Category, :class => 'control-label col-lg-2' %>
  <%= f.select :category_id, Category.all.collect {|t| [t.name, t.id]}.uniq, {}, {class: 'form-control'} %>
  <%= f.label :title, :class => 'control-label col-lg-2' %>
  <%= f.text_field :title, :class => 'form-control' %>
  <%= f.label :blog, :class => 'control-label col-lg-2' %>
  <%= f.cktext_area :blog, :class => 'form-control', input_html: { ckeditor: { toolbar: 'Full' } } %> <br>
   <%= f.label :image, :class => 'control-label col-lg-2' %>
  <%= f.file_field :image %>
 </div>
 <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
     <%= f.submit "draft", :value => "draft", :class => 'btn btn-primary' %>
     <%= f.submit "Publish", :value => "publish", :class => 'btn btn-primary' %>
     <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
     posts_path, :class => 'btn btn-default' %>
   </div>
 </div>
<% end %>
