<%#= @post.comment %>
<dl class="dl-horizontal">
  <dt><strong><%= :Category %>:</strong></dt>
  <dd><%=@post.category.name %></dd>
	<dt><strong ><%= :Title %>:</strong></dt>
  <dd><%= @post.title %></dd>
  <dt><strong><%= :Blog %>:</strong></dt>
	<dd><%= raw @post.blog %></dd>
  <dd><%= image_tag @post.image.url(:medium) %></dd>
</dl>
<%#= link_to t('.show', :default => t("helpers.links.show")),
user_posts_path, :class => 'btn btn-default'  %>
<%# debugger %>
 <%# if (params[:action1] == "blogs") %>

  <%= link_to t('.edit', :default => t("helpers.links.edit")),
  edit_user_post_path(@post), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    user_post_path(@post), 
    :method => 'delete', 
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' 
  %>
  <%# end %>
<br>
<br>	

<!-- ADD COMMENT CODE -->
<!-- <h2>Comments</h2>  -->
<%#= form_for Comment.new, url: user_post_comments_path(@post) do |f| %>
	<%#= f.text_area :content, placeholder: "write comment here" %>
	<br>
	<%#= f.submit "Enter", class: "btn btn-primary" %>
<%# end %>
<br>
<hr>
<% @comments.each do |comment|%>
<strong><%= comment.user.name %>:- </strong><%= comment.content %><br>
<% if ((current_user == @post.user) || (current_user == comment.user)) %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
user_post_comment_path(@post,comment), 
:method => 'delete', 
:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } 
%>
<% end %>
<% end %><br>
<strong>Likes:</strong> 
<%= user_likes(@post).join(', ') %>
<%# @post.likes.pluck(:user_id).each do|user_id| %>
<%#= user = User.find(user_id).name %> 
<%# end %>
