<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script type="text/javascript">
    //$( document ).ready(function() {
      $("body").on('click','.like', function(){ 
        var button_val = $(this).val();
      //alert(button_val)
      $.ajax
      ({
        type: "POST",
        url: '/likes',
        dataType:'script',
        data: {post_id: button_val},
        success: function (response) {
          //alert("like")
        }
      }); 
    });
      $("body").on('click','.unlike', function(){ 
        var button_val = $(this).val();
        var like_id = $('#like_id').val();
      // alert(button_val)
      // alert(like_id)
      $.ajax
      ({
        type: "DELETE",
        url: '/likes/destroy',
        dataType:'script',
        data: {post_id: button_val, like_id: like_id},
        success: function (response){
          //alert("unlike")
        }
      }); 
    });
   //});
 </script>
<% if(@post.status == "draft") %>
		<dl>
			<dt><strong><%= :Category %>:</strong></dt>
			<dd><%=@post.category.name %></dd>
			<dt><strong><%= :Title %>:</strong></dt>
			<dd><%= @post.title %></dd>
			<dt><strong><%= :Blog %>:</strong></dt>
			<dd><%= raw @post.blog %></dd>
			<dd><%= image_tag @post.image.url(:medium) %></dd>
		</dl>
<% else %>
<% if(can? :manage, @post) %>
	<dl class="dl-horizontal">
		<dt><strong><%= :Category %>:</strong></dt>
		<dd><%=@post.category.name %></dd>
		<dt><strong><%= :Title %>:</strong></dt>
		<dd><%= @post.title %></dd>
		<dt><strong><%= :Blog %>:</strong></dt>
		<dd><%= raw @post.blog %></dd>
		<dd><%= image_tag @post.image.url(:medium) %></dd>
		<dd>
			<%= link_to t('.edit', :default => t("helpers.links.edit")),
			edit_user_post_path(@post), :class => 'btn btn-primary' %>
			<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
			user_post_path(@post), 
			:method => 'delete', 
			:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
			:class => 'btn btn-danger'%>
		</dd>
	</dl>
<% else %>
	<dl class="dl-horizontal">
		<dt><strong><%= :Category %>:</strong></dt>
		<dd><%=@post.category.name %></dd>
		<dt><strong><%= :Title %>:</strong></dt>
		<dd><%= @post.title %></dd>
		<dt><strong><%= :Blog %>:</strong></dt>
		<dd><%= raw @post.blog %></dd>
		<dd><%= image_tag @post.image.url(:medium) %></dd>
		<div class = '<%= "#{@post.id}" %>_like_box' >
			<%= render 'likes/like_button', f: @post %>
		</div>
	</dl>
<% end %>

<!-- ADD COMMENT CODE -->
<% if user_signed_in? %>
<h2>Comments</h2>
<%= form_for Comment.new, url: user_post_comments_path(@post) do |f| %>
<%= f.text_area :content, placeholder: "write comment here" %>
<br>
<%= f.submit "Enter", class: "btn btn-primary" %>
<% end %>
<br>
<hr>
<% end %>
<% @comments.each do |comment| %>
<strong><%= comment.user.name %>:- </strong><%= comment.content %><br>
<% if ((current_user == @post.user) || (current_user == comment.user) ) %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
user_post_comment_path(@post,comment), 
:method => 'delete', 
:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } 
%>
<% end %>
<% end %>
<% end %><br>
<strong>Likes:</strong> 
<%= user_likes(@post).join(', ') %>
<%# @users= @post.likes.pluck(:user_id).map! do|user_id| %>
<%#= User.find(user_id).name %> 
<%# end %>
<%#= @users.join(',') %>